# Python Alıştırmalari

### Görev 1: Verilen değerlerin veri yapılarını inceleyiniz

In [1]:
#Değerler

x = 8
y = 3.2
z = 8j+18
a = "Hello World"
b = True
c = 23<22
l = [1,2,3,4]
d = {"Name" : "Jake",
    "Age" : 27,
    "Adress" : "Downtown"}
t = ("Machine Learning", "Data Science")
s = {"Python", "Machine Learning", "Data Science"}

In [5]:
print(f"x = {type(x)} y = {type(y)} z = {type(z)} a = {type(a)} b = {type(b)} c = {type(c)} l = {type(l)} d = {type(d)} t = {type(t)} s = {type(s)}")

x = <class 'int'> y = <class 'float'> z = <class 'complex'> a = <class 'str'> b = <class 'bool'> c = <class 'bool'> l = <class 'list'> d = <class 'dict'> t = <class 'tuple'> s = <class 'set'>

### Görev 2: Verilen string ifadenin(textin) tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, kelime kelime ayırınız

In [6]:
text = "The goal is to turn data into information, and information into insight."

In [10]:
text.upper().replace(","," ").replace("."," ").split()

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

### Görev 3: Verilen listeye aşağıdaki adımları uygulayınız.

In [50]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]

##### Adım 1: Verilen listenin eleman sayısına bakınız.

In [51]:
len(lst)

11

##### Adım 2: Sıfırıncı ve onuncu indeksteki elemanları çağırınız.

In [52]:
lst[0]

'D'

In [53]:
lst[10]

'E'

##### Adım 3: Verilen liste üzerinden ["D", "A", "T", "A"] listesi oluşturunuz.

In [54]:
data_lst = lst[0:4]
data_lst

['D', 'A', 'T', 'A']

##### Adım 4: Sekizinci indeksteki elemanı siliniz.

In [55]:
lst.pop(8)
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

##### Adım 5: Yeni bir eleman ekleyiniz.

In [56]:
lst.append("Y")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'Y']

##### Adım 6: Sekizinci indekse "N" elemanını tekrar ekleyiniz.

In [57]:
lst.insert(8,"N")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'Y']

### Görev 4: Verilen sözlük yapısına aşağıdaki adımları uygulayınız.

In [58]:
dict = {"Christian" : ["America", 18],
       "Daisy" : ["England", 12],
       "Antonio" : ["Spain", 22],
       "Dante" : ["Italy", 25]}

##### Adım 1: Key değerlerine erişiniz.

In [61]:
dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

##### Adım 2: Value'lara erişiniz.

In [64]:
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

##### Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.

In [65]:
dict["Daisy"][1] = 13
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

##### Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.

In [66]:
dict["Ahmet"] = ["Turkey", 24]
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

##### Adım 5: Antonio'yu dictionary'den siliniz.

In [69]:
dict.pop("Antonio")
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

### Görev 5: Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listelerireturn eden fonksiyon yazınız.

In [74]:
l = [0,2,4,5,6,8,12,15,18,19,22,33,35,36,38,39]

def even_odd(liste):
    even_list = []
    odd_list = []
    for i in l:
        if i%2 ==0:
            even_list.append(i)
        else:
            odd_list.append(i)
    return even_list,odd_list
even_odd(l)

([0, 2, 4, 6, 8, 12, 18, 22, 36, 38], [5, 15, 19, 33, 35, 39])

### Görev 6: Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri bulunmaktadır. Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de tıp fakültesi öğrenci sırasına aittir. Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.

In [73]:
ogrenciler = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]

In [78]:
for i,x in enumerate(ogrenciler):
    if i<3:
        i+=1
        print(f"Mühendislik fakültesi", i,".Öğrenci:",x)
    else:
        i-=2
        print(f"Tıp fakültesi",i,".Öğrenci:",x)

Mühendislik fakültesi 1 .Öğrenci: Ali
Mühendislik fakültesi 2 .Öğrenci: Veli
Mühendislik fakültesi 3 .Öğrenci: Ayşe
Tıp fakültesi 1 .Öğrenci: Talat
Tıp fakültesi 2 .Öğrenci: Zeynep
Tıp fakültesi 3 .Öğrenci: Ece

### Görev 7: Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır. Zip kullanarak ders bilgilerini bastırınız.

In [79]:
ders_kodu = ["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]

In [81]:
list(zip(ders_kodu,kredi,kontenjan))

[('CMP1005', 3, 30),
 ('PSY1001', 4, 75),
 ('HUK1005', 2, 150),
 ('SEN2204', 4, 25)]

In [82]:
for ders,kredi,kont in zip(ders_kodu,kredi,kontenjan):
    print(f"Kredisi {kredi} olan {ders} kodlu dersin kontenjanı {kont} kişidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

### Görev 8: Aşağıda 2 adet set verilmiştir. Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.

In [83]:
kume1 = set(["data","python"])
kume2 = set(["data","function","qcut","lambda","python","miuul"])

In [86]:
def kume(set1,set2):
    if set1.issuperset(set2):
        print(set1.intersection(set2))
    else:
        print(set2.difference(set1))

kume(kume1,kume2)

{'function', 'lambda', 'qcut', 'miuul'}

In [87]:
kume(kume2,kume1)

{'data', 'python'}